;Bot Settings


;separate items on same server with ' ' (whitespace) and items on different servers with ','

[bot]
;user who can control the bot
owner = yourusername
;channels to join
channel = #testroom #testroom2,#test
;servers to join
host = irc.efnet.org,irc.freenode.net
;bot nick per server
nick = pepperoni,pepperoni
;bot password per server
password = password1,password2
;modules not to load per server
blacklist = ,
;log location per server
logfile = log/efnet.log,log/freenode.log
;log level
loglevel = debug
;set bot modes
modes = B

;Module Settings

;[name] - put the module name in brackets (modules must begin with 'module_')
;rate - specify how many seconds this module should be disabled after being triggered
;triggers - specify one regular expression per line (indented) to trigger module

[module_reload]
triggers = !reload
rate = 3

[module_loaded]
triggers = !loaded
rate=3

[module_shesaid]
triggers = [Tt]hat'?s what she said
	thats what she said
rate = 3
quotesFile = quotes.txt

[module_leet]
triggers = ^!leet
rate = 3

[module_yodawg]
triggers = &^
rate = 3

[module_youtube]
triggers = youtube.com
	youtu.be
rate = 3
key = youtube_api_server_key

[module_food]
triggers = ^\s*!food
rate = 3

[module_action]
rate = 3
triggers = \S+s peetsa

[module_zalgo]
rate = 3
triggers = ^!zalgo

[module_dmesg]
rate = 3
triggers = ^!dmesg

[module_poodict]
rate=1
triggers = ^!pudict

[module_dict]
rate=5
triggers = ^!dict
         ^!trans

[module_topic]
rate=5
triggers = ^!topic
key = calendar_api_key

[module_duel]
rate=0
timeout=5
triggers = ^!duel
         ^!fire
easy = 1
medium = .5
hard = .35
clinteastwood = .1

[module_gnu]
triggers = ^!gnu
rate = 3

[module_heathcliff]
rate = 5
triggers = ^!garfield
         ^!heathcliff